body {
    background: url('../img/background.png') repeat;
}

.container {
    background-color: rgba(255, 255, 255, .9);
}

.h1-wrap {
    background-color: #494949;
    padding: 15px;
}

h1 {
    color: white;
    text-shadow: 0 1px 1px #000;
}

.h1-wrap p {
    color: #ccc;
    font-size: 1.2em;
    line-height: 1.6em;
    margin-top: 28px;
}

.h1-wrap a {
    color: white;
}

.back {
    font-size: .5em;
    margin-left: 14px;
}

.back a, .back a:hover {
    color: #aaa;
}

.back a:before, .back a:hover:before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url('../img/back-arrow.png');
    margin-right: 6px;
}

h2 {
    font-size: 24px;
}

hr {
    border: 2px solid rgba(0, 0, 0, 0);
    border-bottom: 2px solid rgba(0, 0, 0, .3);
    margin-left: 13px;
    padding-top: 8px;
}