/* Общие стили */
.container {
    position: relative;
}

.alerts-wrap {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 100%;
}

.alert {
    position: relative;
    left: -100%;
    width: 260px;
    font-size: 1em;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}



/* Стили категорий */
.table-categories {
    width: 700px;
}
.table-categories .th-wide {
    width: 500px;
}
.table-categories .th-narrow {
    width: 100px;
    text-align: center;
}
.table-categories .btn-set-root,
.table-categories .btn-warning,
.table-categories .btn-danger {
    cursor: pointer;
    text-align: center;
}
.table-categories .btn-set-root {
    color: #ccc;
}
.table-categories .btn-set-root:hover {
    color: #000;
}
.table-categories .root {
    cursor: default;
    color: #000;
}


/* Стили критериев */
.table-criteria {
    width: 800px;
}
.table-criteria .th-wide {
    width: 300px;
}
.table-criteria .th-narrow {
    width: 100px;
    text-align: center;
}
.table-criteria .td-subcat {
    cursor: pointer;
}
.table-criteria .btn-warning,
.table-criteria .btn-danger {
    cursor: pointer;
    text-align: center;
}
.criteria h3, .criteria select {
    display: inline-block;
}
.criteria select {
    max-width: 300px;
    margin-left: 30px;
}
.criteria .btn-add-subwork {
    cursor: pointer;
    opacity: .5;
    margin: 0 6px;
}
.criteria .btn-add-subwork:hover {
    opacity: .7;
}


/* Стили ответов */
.answers {
    position: relative;
}

.answers h4 {
    display: inline-block;
}

#answers-list {
    position: absolute;
    top: 0;
    left: 400px;
    width: 300px;
}

.answers .btn-edit {
    cursor: pointer;
    opacity: .5;
    margin: 0 6px;
}

.answers .btn-edit:hover {
    opacity: .7;
}

.answers label {
    margin-top: 5px;
    margin-bottom: 2px;
    height: 34px;
}

.answers .descriptions-select {
    width: 400px;
    display: inline-block;
    margin-left: 14px;
    margin-bottom: 6px;
}

#items-wrap .glyphicon {
    cursor: pointer;
    opacity: .5;
    margin-right: 6px;
    padding: 2px 6px;
}

#items-wrap .glyphicon:hover {
    opacity: .7;
}

.answers textarea {
    width: 100%;
}

.answers .annotation-wrap {
    margin-bottom: 16px;
}

.answers .annotation-wrap a {
    cursor: pointer;
    margin-left: 10px;
}


/* Стили товаров */
.items {
    position: relative;
}

.items select {
    position: absolute;
    top: 0;
    left: 400px;
    width: 300px;
}

.item-card textarea {
    width: 100%;
}

.item-card h4, h5 {
    display: inline-block;
    font-weight: bold;
}

.item-card a {
    cursor: pointer;
    padding-left: 10px;
}

.items .btn-edit {
    cursor: pointer;
    opacity: .5;
    margin: 0 6px;
}

.items .btn-edit:hover {
    opacity: .7;
}



/* Стили связей */
.links-table-wrap {
    overflow-x: scroll;
}

.links th {
    min-width: 200px;
}

.links th:last-child {
    min-width: 48px;
}

.table-links td {
    cursor: pointer;
}

.table-links td.td-disabled {
    cursor: default;
    color: #aaa;
}

.table-links th:nth-last-child(2),
.table-links td:nth-last-child(2) {
    background: #ddd;
}

.table-links .btn-warning,
.table-links .btn-danger {
    cursor: pointer;
    text-align: center;
}

.select-box {
    position: absolute;
    width: 200px;
    background-color: #ccc;
    border-radius: 2px;
    border: 1px solid black;
    padding: 8px;
    box-shadow: #555 0px 0px 4px;
}

.select-box p {
    cursor: pointer;
}

.links select {
    width: 400px;
    display: inline-block;
    margin-left: 6px;
}

.links .btn-edit {
    cursor: pointer;
    opacity: .5;
    margin: 0 6px;
}

.links .btn-edit:hover {
    opacity: .7;
}

#links-meta {
    margin-bottom: 10px;
}

#links-meta textarea {
    width: 100%;
}

#links-meta a {
    cursor: pointer;
}

#links-meta h4 {
    display: inline-block;
}


/* Стили пароля */
.form-change-password {
    max-width: 300px;
}

.form-change-password input {
    margin-bottom: 12px;
}
