body {
    background: url('img/background.png') repeat;
}

.container {
    background-color: rgba(255, 255, 255, .9);
    position: relative;
}

.h1-wrap {
    background-color: #494949;
    padding: 15px;
}

h1 {
    color: white;
    text-shadow: 0 1px 1px #000;
}

.h1-wrap p {
    color: #ccc;
    font-size: 1.2em;
    line-height: 1.6em;
    margin-top: 28px;
}

h2 {
    font-size: 24px;
}

label {
    font-size: 16px;
}

.root-work {
    padding-left: 20px;
    position: relative;
}

.root-work:before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: 50%;
    left: 1px;
    margin-top: -6px;
    background-color: #ccc;
}

.sub-work {
    font-weight: normal;
    padding-left: 3em;
}

.sub-work label {
    font-weight: normal;
}

.radio.root-work {
    padding-left: 0;
    position: initial;
}

.root-work, .radio.root-work label {
    font-weight: bold;
    font-size: 18px;
}

.radio.root-work:before {
    padding-left: 0;
    display: none;
}

hr {
    border: 2px solid rgba(0, 0, 0, 0);
    border-bottom: 2px solid rgba(0, 0, 0, .3);
    margin-left: 13px;
    padding-top: 8px;
}

.back {
    cursor: pointer;
}

.back a:before, .back a:hover:before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url('img/back-arrow.png');
    margin-right: 6px;
}

.btn, .btn:hover, .btn:active, .btn:focus {
    margin-top: 16px;
    margin-bottom: 20px;
    color: black;
    outline: none;
}

.answer {
    font-size: 2em;
    min-height: 1em;
}

.live-internet {
    position: absolute;
    bottom: 4px;
    right: 4px;
}